
    @charset "UTF-8";
    @import url(https://fonts.googleapis.com/css?family=Cabin:400,700);

    body {
      color: #ffffff;
      background-color: #1a1a1a;
      font-family: 'Cabin', sans-serif;
      letter-spacing: 0.04em;
    }

    p {
      margin: 0;
    }
    select {
    	display : inline !important;
    	height : 44.7px;
    }

    p.description {
      font-size: 14px;
      line-height: 20px;
    }

    button {
      overflow: hidden;
      display: block;
      width: auto;
      margin: 22px auto;
      font-family: 'Cabin', sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      color: white;
      background-color: #F93738;
      padding: 12px 30px;
      font-weight: 700;
      border: none;
      -moz-transition: 0.2s;
      -o-transition: 0.2s;
      -webkit-transition: 0.2s;
      transition: 0.2s;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      -moz-box-shadow: #930405 0 4px 0;
      -webkit-box-shadow: #930405 0 4px 0;
      box-shadow: #930405 0 4px 0;
    }
    

    button:before {
      content: '';
      width: 0;
      height: 0;
      background-color: rgba(255, 255, 255, 0.2);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
      border-radius: 100%;
      -moz-transition: 0s;
      -o-transition: 0s;
      -webkit-transition: 0s;
      transition: 0s;
    }

    button:hover {
      background-color: #f82324;
    }

    button:hover:before {
      width: 200px;
      height: 200px;
      opacity: 0;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      -webkit-transition: 0.5s;
      transition: 0.5s;
    }

    button:focus {
      outline: none;
    }

    button:active {
      margin: 24px auto 20px;
      -moz-box-shadow: #930405 0 2px 0;
      -webkit-box-shadow: #930405 0 2px 0;
      box-shadow: #930405 0 2px 0;
    }

    button.button-signup {
      z-index: 1;
      position: absolute;
      top: -32px;
      right: 0;
      left: 0;
      margin: 0 auto;
      width: 40%;
    }

    button.button-signup:active {
      margin-top: 4px;
    }

    button.button-signup:after {
      opacity: 0;
      content: '×';
      font-size: 72px;
      line-height: 54px;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      -moz-transition: 0;
      -o-transition: 0;
      -webkit-transition: 0;
      transition: 0;
    }

    button.button-signup span {
      -moz-transition: ease-out 0.2s 0.2s;
      -o-transition: ease-out 0.2s 0.2s;
      -webkit-transition: ease-out 0.2s;
      /* -webkit-transition-delay: 0.2s; */
      transition: ease-out 0.2s 0.2s;
    }

    .is-active button.button-signup {
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
      border-radius: 100%;
      width: 64px;
      height: 64px;
    }

    .is-active button.button-signup span {
      opacity: 0;
      -moz-transition: 0s;
      -o-transition: 0s;
      -webkit-transition: 0s;
      transition: 0s;
    }

    .is-active button.button-signup:before {
      opacity: 0;
    }

    .is-active button.button-signup:after {
      opacity: 1;
      -moz-transition: ease-out 0.2s 0.2s;
      -o-transition: ease-out 0.2s 0.2s;
      -webkit-transition: ease-out 0.2s;
      /* -webkit-transition-delay: 0.2s; */
      transition: ease-out 0.2s 0.2s;
    }

    .block-inner {
      position: relative;
      top: 50%;
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .block-signup {
      padding: 0 24px;
      background-color: #AE2627;
      width: 80%;
      height: 0;
      max-width: 500px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      -moz-transition: ease-out 0.3s;
      -o-transition: ease-out 0.3s;
      -webkit-transition: ease-out 0.3s;
      transition: ease-out 0.3s;
      -moz-box-shadow: #841d1e 0 6px 0;
      -webkit-box-shadow: #841d1e 0 6px 0;
      box-shadow: #841d1e 0 6px 0;
    }

    .block-signup .block-inner {
      opacity: 0;
      margin-top: 24px;
      -moz-transition: ease-out 0.2s;
      -o-transition: ease-out 0.2s;
      -webkit-transition: ease-out 0.2s;
      transition: ease-out 0.2s;
    }

    .block-signup .block-inner form {
      display: none;
    }

    .block-signup.is-active {
      height: 50%;
      padding: 24px;
    }

    .block-signup.is-active .block-inner {
      opacity: 1;
      margin-top: 0;
      -moz-transition: ease-out 0.2s 0.3s;
      -o-transition: ease-out 0.2s 0.3s;
      -webkit-transition: ease-out 0.2s;
      /* -webkit-transition-delay: 0.3s; */
      transition: ease-out 0.2s 0.3s;
    }

    .block-signup.is-active .block-inner form {
      display: block;
    }

    form {
      width: 100%;
      margin: 0 auto;
      max-width: 400px;
    }

    label {
      position: relative;
      font-size: 18px;
      font-weight: 700;
      display: block;
      margin-bottom: 12px;
      text-transform: uppercase;
    }

    input:not([type="reset"]) {
      color: #000000;
      font-size: 18px;
      padding: 12px;
      margin-bottom: 18px;
      border: none;
      width: calc(100% - 24px);
      font-weight: 500;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      -moz-transition: ease-out 0.2s;
      -o-transition: ease-out 0.2s;
      -webkit-transition: ease-out 0.2s;
      transition: ease-out 0.2s;
    }

    input:not([type="reset"]):focus {
      outline: none;
      background-color: #FFFFE5;
      -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 6px 6px;
      -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 6px 6px;
      box-shadow: rgba(0, 0, 0, 0.2) 0 6px 6px;
    }

    input[type="reset"] {
      overflow: hidden;
      display: block;
      width: auto;
      margin: 22px auto;
      font-family: 'Cabin', sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      color: white;
      background-color: #F93738;
      padding: 12px 30px;
      font-weight: 700;
      border: none;
      -moz-transition: 0.2s;
      -o-transition: 0.2s;
      -webkit-transition: 0.2s;
      transition: 0.2s;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      -moz-box-shadow: #930405 0 4px 0;
      -webkit-box-shadow: #930405 0 4px 0;
      box-shadow: #930405 0 4px 0;
    }

    input[type="reset"]:before {
      content: '';
      width: 0;
      height: 0;
      background-color: rgba(255, 255, 255, 0.2);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
      border-radius: 100%;
      -moz-transition: 0s;
      -o-transition: 0s;
      -webkit-transition: 0s;
      transition: 0s;
    }

    input[type="reset"]:hover {
      background-color: #f82324;
    }

    input[type="reset"]:hover:before {
      width: 200px;
      height: 200px;
      opacity: 0;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      -webkit-transition: 0.5s;
      transition: 0.5s;
    }

    input[type="reset"]:focus {
      outline: none;
    }

    input[type="reset"]:active {
      margin: 24px auto 20px;
      -moz-box-shadow: #930405 0 2px 0;
      -webkit-box-shadow: #930405 0 2px 0;
      box-shadow: #930405 0 2px 0;
    }

    .form-action {
      position: relative;
      min-height: 70px;
      margin: 0 auto;
    }

    .form-action input {
      /* position: absolute; */
      top: 0;
    }

    .form-action input:active {
      top: 2px;
    }

    .container {
      width: 400px;
    }

    h2 {
      text-align: center;
    }

    th {
      width: 100px;
      text-align: left;
    }
    .result_btn {
      margin-right:5px;
      display: inline-block;
    }

    .result_btn2 {
      overflow: hidden;
      display: inline-block;
      width: 234px;
      margin: 5px;
      font-family: 'Cabin', sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      color: rgb(104, 101, 101);
      background-color: #EFEBE8;
      padding: 12px 30px;
      font-weight: 700;
      border: none;
      -moz-transition: 0.2s;
      -o-transition: 0.2s;
      -webkit-transition: 0.2s;
      transition: 0.2s;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      -moz-box-shadow: #6b6969 0 4px 0;
      -webkit-box-shadow: #6b6969 0 4px 0;
      box-shadow: #6b6969 0 4px 0;
    }
    
    #main-content {
        margin: 5vh 13vw;
        text-align: center;
    }
    #loading {
        text-align: center;
    }
    #loadingimage {
        height: 77vh;
    }
    #loadingimage2 {
        height : 21vh;
    }
    #parent_amount {
    width : 80vw;
    text-align: left;
    }
    #circle_logo {
      height: 10vh 30vw;
    }
    #share{
      margin: 5vw 30vh;
    }
    #result_place {
      display: inline-table;
      margin-left: 10%;
    }
    #i-navi {
      background-color: #AE2627 !important;
      /* font-family: 'Cabin', sans-serif !important;
      font-size: 18px !important;
      text-transform: uppercase !important; */
    }